#
# Standard Maven .gitignore
#
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

#
# IntelliJ
#
*.iml
.idea/*
!.idea/runConfigurations/

#
# Visual Studio Code
#
.settings/
.classpath
.project
.vscode/
src/main/java/com/tempest/builder/AutowiredResolver.java
src/main/java/com/tempest/builder/ObjectPreserve.java
src/main/java/com/tempest/function/Either.java
src/test/java/com/tempest/builder/ObjectPreserveTest.java
